# Root gitignore
.venv/
__pycache__/
**/__pycache__/
*.py[cod]
*$py.class
build/
frontend/build/
frontend/.dart_tool/
frontend/.idea/
frontend/ios/Pods/
backend/.venv/
backend/data/*.geojson
.env
*.p8
